.layout-full-width {
  padding: 1.4rem;

}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .layout-full-width {
    flex: 1;
  }
}

.main-body {
  height: 65rem;  
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 4rem;
}