@import '~normalize.css';
@import '~dragula/dist/dragula.css';

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  font-size: 1.2rem;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'assets/scss/dragula';
@import 'assets/scss/variables';
@import 'assets/scss/base';
@import 'assets/scss/links';

@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-orange, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);

$warn:    mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();

